@import "../main.scss";
// SECTION ABOUT START
#about {
  padding: 120px 0 100px;
  .about__container {
    @include flexbox(column, start, start);
    gap: 48px;
    .about__top {
      @include flexbox(row, start, start);
      gap: 90px;
      .about__top__left {
        span {
          @include caption;
        }
        h1 {
          margin-top: 16px;
          @include heading(h2);
          font-size: 45px;
        }
      }
      .about__top__right {
        margin-top: 35px;
        h3 {
          @include heading(h3);
        }
        p {
          margin-top: 16px;
          @include paragraph;
        }
      }
    }
    .about__middle {
      @include flexbox(row, start, start);
      gap: 11px;
      .about__middle__card {
        img {
          width: 100%;
        }
      }
    }
    .about__bottom {
      display: flex;
      gap: 425px;
      .about__bottom__num {
        @include flexbox(row, start, start);
        flex-wrap: wrap;
        gap: 66px;
        .about__num {
          @include flexbox(column, start, start);
          img {
            margin: 8px 0 4px;
          }
          p {
            @include paragraph;
            color: #000;
          }
          span {
            @include heading(h3);
            color: #232536;
          }
        }
      }
      .about__bottom__link {
        @include flexbox(row, start, center);
        a {
          @include paragraph;
          text-decoration: none;
          color: #444cfc;
        }
        svg {
          margin-left: 16px;
          transition: 0.3s;
        }
        &:hover svg {
          transform: translateX(10px) !important;
        }
      }
    }
    @include media(1280px) {
      .about__bottom {
        flex-direction: column;
        gap: 40px;
      }
    }
    @include media(1111px) {
      .about__top {
        flex-direction: column;
        gap: 30px;
      }
    }
    @include media(1000px) {
      .about__middle {
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
      }
      .about__bottom {
        margin: 0 auto !important;
        text-align: center;
        .about__bottom__num {
          justify-content: center;
          .about__num {
            align-items: center;
          }
        }
        .about__bottom__link {
          margin: 0 auto;
        }
      }
    }
    @include media(550px) {
      .about__top {
        .about__top__left {
          text-align: center;
          h1 {
            font-size: 35px;
            line-height: 45px;
            margin: 25px 0;
          }
        }
        .about__top__right {
          text-align: center;
          margin: 0;
          h3 {
            font-size: 28px;
            line-height: 40px;
          }
        }
      }
    }
  }
}
// SECTION ABOUT END
// SECTION EXPERTISE START
#expertise {
  padding: 96px 0;
  background-color: #ecf8f9;
  .expertise__container {
    @include flexbox(row, start, center);
    gap: 140px;
    .expertise__left {
      span {
        @include caption;
        color: black;
        opacity: 1;
      }
      h1 {
        @include heading(h2);
        margin: 16px 0 24px;
        max-width: 700px;
      }
      p {
        @include paragraph;
        max-width: 700px;
      }
    }
    .expertise__right {
      @include flexbox(column, start, start);
      gap: 12px;
      .expertise__left__square {
        background: #444cfc;
        width: 16px;
        height: 16px;
      }
      .expertise__left__card {
        position: relative;
        display: flex;
        gap: 16px;
        padding: 32px 70px 32px 32px;
        background-color: #fff;
        .expertise__left__card__logo {
          background-color: #ffe6d2;
          height: 55px;
          border-radius: 50%;
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .expertise__left__card__content {
          span {
            @include heading(h6);
            opacity: 1;
            color: black;
            font-weight: 600;
          }
          p {
            @include paragraph;
            margin-top: 8px;
            max-width: 400px;
          }
        }
        .expertise__shape {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
@include media(1100px) {
  #expertise {
    .expertise__container {
      @include flexbox(column, start, center);
      .expertise__left {
        width: 100%;
        text-align: center;
        p {
          max-width: 100%;
        }
        h1 {
          max-width: 100%;
          margin: 25px 0;
        }
      }
      .expertise__right {
        width: 100%;
        align-items: center;
        .expertise__left__square {
          display: none;
        }
      }
    }
  }
}
@include media(750px) {
  #expertise {
    .expertise__container {
      .expertise__right {
        gap: 20px;
        .expertise__left__card {
          width: 100%;
          padding: 40px;
        }
      }
    }
  }
}
@include media(700px) {
  .expertise__left {
    h1 {
      font-size: 35px !important;
      line-height: 45px !important;
    }
  }
}
// SECTION EXPERTISE END


.breaking{
    position: relative;
    z-index: -1;
    &_container{
        position: relative;
        margin-top: 176px;
        .shape_1{
            position: absolute;
            top: 0;
            left: 0;
        }
        .shape_2{
            position: absolute;
            top: 0;
            right: 0;
        }
        &-info{
            h2{
                @include heading(h2);
                max-width: 700px;
                padding-top: 50px;
            }
            .breaking_info{
                margin-top: 24px;
                @include paragraph();
                max-width: 719px;
            }
            .hero_info{
                margin-top: 32px;
                @include flexbox(row, flex-start, center);
                gap: 12px;
                .january{
                    opacity: 0.6;
                }
            }
        }
    }
}

// second section
.shoot{
    img{
        margin-top: 96px;
        width: 100%;
    }
}