@import "../main.scss";

.vectors {
  @include flexbox(row, space-between, center);
  align-items: center;
  padding-top: 196px;
}

.privacy__policy {
  h1 {
    @include heading(h2);
    padding-top: 24px;
  }
  p {
    @include paragraph;
    padding: 8px 0 72px;
  }
}

#privacy__policy__inner {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ecf8f9;
  .privacy__policy__text {
    padding-bottom: 96px;
    h1 {
      @include heading(h3);
      padding: 96px 0 24px;
    }
    h2 {
      @include heading(h4);
      padding: 28px 0 16px;
    }
    p {
      @include paragraph;
      text-align: justify;
      padding: 12px 0;
    }
  }
}
