@import "../main.scss";

#header__inner {
  background-color: #ffe6d2;
  padding: 96px 0;
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__title {
      h3 {
        @include caption;
        color: $title-color;
      }
      h1 {
        @include heading(h2);
        max-width: 622px;
        padding: 12px 0 24px;
        color: $title-color;
      }
      p {
        @include paragraph;
        max-width: 624px;
        padding-bottom: 40px;
      }
      #header__btn {
        position: relative;
        @include paragraph;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 500;
        background: linear-gradient(180deg, #444cfc 0%, #444cfc 100%);
        border: none;
        color: $white;
        cursor: pointer;
        z-index: 1;
        .style__one {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 19px;
          height: 19px;
          background-color: #ffa155;
          opacity: 0;
          transition: 0.3s;
        }
        .style__two {
          position: absolute;
          top: 0px;
          left: 8px;
          width: 11px;
          height: 11px;
          background-color: #ffd3af;
          opacity: 0;
          transition: 0.6s;
        }
        .style__three,
        .style__four {
          width: 8px;
          height: 8px;
          background-color: #666dff;
          opacity: 0;
        }
        .style__three {
          position: absolute;
          top: 0px;
          left: 19px;
          transition: 0.3s;
        }
        .style__four {
          position: absolute;
          top: 19px;
          left: 0px;
          transition: 0.1s;
        }
      }

      #header__btn:hover .style__one {
        opacity: 1;
      }

      #header__btn:hover .style__three {
        opacity: 1;
      }

      #header__btn:hover .style__two {
        opacity: 1;
        transition: 0.1s;
      }

      #header__btn:hover .style__four {
        opacity: 1;
      }
    }
    .header__navigation {
      .header__item__inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .header__item {
          list-style-type: none;
          .header__link {
            @include heading(h4);
            display: flex;
            align-items: center;
            gap: 16px;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#working__inner {
  background-color: #f9f9ff;
  padding: 96px 0;
  .working__inner {
    .working__inner__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        @include caption;
      }
    }
    h1 {
      @include heading(h2);
      max-width: 733px;
      padding: 16px 0;
      color: $title-color;
    }
    p {
      @include paragraph;
      max-width: 642px;
    }
  }
  .working__boxing {
    padding-top: 68px;
    @include grid(3, 48px);
    .working__inner__card {
      border: 1px solid rgba(35, 37, 54, 0.17);
      h4 {
        @include heading(h4);
        opacity: 0.2;
        font-weight: 600;
        color: $title-color;
        text-align: end;
        padding: 12px 16px 0 0;
      }
      .working__text {
        display: flex;
        gap: 16px;
        .working__icon {
          img {
            padding: 12px;
            margin-left: 32px;
            border-radius: 30%;
            background: rgba(255, 211, 175, 0.17);
          }
        }
        .working__card__title {
          h1 {
            @include heading(h6);
          }
          p {
            @include paragraph;
            max-width: 289px;
            padding: 6px 0 28px;
          }
        }
      }
    }
  }
}

#support__inner {
  .support {
    @include flexbox(row, space-between, center);
    padding-bottom: 96px;
    .support__inner__title {
      h3 {
        @include heading(h4);
      }
      h1 {
        @include heading(h3);
        max-width: 624px;
        padding: 24px 0 16px;
      }
      p {
        @include paragraph;
        max-width: 622px;
      }
    }
  }
}

#development__inner {
  background-color: #ecf8f9;
  .development {
    @include flexbox(row, space-between, center);
    padding-bottom: 96px;
    gap: 140px;
    .development__innter__title {
      h3 {
        @include heading(h4);
      }
      h1 {
        @include heading(h3);
        padding: 16px 0 24px;
      }
      p {
        @include paragraph;
      }
    }
  }
}

#aws__inner {
  .aws {
    @include flexbox(row, space-between, center);
    padding-bottom: 96px;
    .aws__inner__title {
      h3 {
        @include heading(h4);
      }
      h1 {
        max-width: 624px;
        @include heading(h3);
        padding: 16px 0 24px;
      }
      p {
        @include paragraph;
        max-width: 622px;
      }
    }
  }
}

#consulting__inner {
  background-color: #f9f9ff;
  .consulting {
    @include flexbox(row, space-between, center);
    padding-bottom: 96px;
    gap: 140px;
    .consulting__inner__title {
      h3 {
        @include heading(h4);
      }
      h1 {
        @include heading(h3);
        max-width: 624px;
        padding: 16px 0 24px;
      }
      p {
        @include paragraph;
      }
    }
  }
}

#technology__inner {
  .technology {
    @include flexbox(row, space-between, center);
    padding-bottom: 96px;
    .technology__inner__title {
      h3 {
        @include heading(h4);
      }
      h1 {
        @include heading(h3);
        max-width: 624px;
        padding: 16px 0 24px;
      }
      p {
        @include paragraph;
        max-width: 622px;
      }
    }
  }
}

.lines {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line1 {
  width: 28%;
  height: 8px;
  background-color: #ffa155;
  opacity: 0;
  transition: 0.2s;
}
.line11 {
  width: 28%;
  height: 8px;
  background-color: #ffa155;
  opacity: 0;
  transition: 0.2s;
}
.line2 {
  width: 44%;
  height: 8px;
  background-color: #ffd3af;
  opacity: 0;
  transition: 0.6s;
}
.line22 {
  width: 44%;
  height: 8px;
  background-color: #ffd3af;
  opacity: 0;
  transition: 0.6s;
}
.line3 {
  width: 28%;
  height: 8px;
  background-color: #444cfc;
  opacity: 0;
  transition: 0.8s;
}
.line33 {
  width: 28%;
  height: 8px;
  background-color: #444cfc;
  opacity: 0;
  transition: 0.8s;
}

.working__inner__card:hover .line1 {
  opacity: 1;
  transition: 0.2s;
}
.working__inner__card:hover .line11 {
  opacity: 1;
  transition: 0.2s;
}
.working__inner__card:hover .line2 {
  opacity: 1;
  transition: 0.6s;
}
.working__inner__card:hover .line22 {
  opacity: 1;
  transition: 0.6s;
}
.working__inner__card:hover .line3 {
  opacity: 1;
  transition: 0.8s;
}
.working__inner__card:hover .line33 {
  opacity: 1;
  transition: 0.8s;
}

@media (max-width: 1000px) {
  .working__boxing {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 972px) {
  .header__inner {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    grid-row-gap: 140px;
    text-align: center;
  }
  #header__btn {
    margin: 0 auto;
  }
  .header__inner {
    margin: 0 auto;
  }
  #working__inner {
    text-align: center;
  }
  .working__boxing {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .support,
  .development,
  .aws,
  .consulting,
  .technology {
    flex-direction: column !important;
    gap: 0px !important;
    text-align: center;
  }
  img {
    width: 100%;
  }
  .working__inner__title img {
    width: 27px;
    height: 29px;
  }
}
