// Colors
$yellow: #FFA155;
$light-yellow: #FFD3AF;
$blue: #444CFC;
$light-blue: #ECF8F9;

$dark-bg: #232536;
$light-yellow-bg: #ECF8F9;
$light-grey-bg: #F9F9FF;
$footer-bg: #666DFF;

// Text colors
$white: #fff;
$black: #000;
$title-color: #232536;
$p-color: #5D5F6D;

